# fastapi
# uvicorn
# # selenium
# sentence-transformers
# faiss-cpu
# numpy
# pandas
# google-generativeai
# python-dotenv
# pydantic
# torch
# transformers
# sentencepiece

fastapi
uvicorn
numpy
pandas
python-dotenv
pydantic
google-generativeai
scikit-learn
requests
beautifulsoup4

# torch
# sentence-transformers
# faiss-cpu